@import "bootstrap/less/bootstrap.less";
@import "bootstrap/less/responsive.less";

#map {
    height: 400px;
    
    img {
        max-width: none;
    }
}

#postForm {
    textarea {
        width: 100%;
    }
}

.itemList {
    max-height: 400px;
    overflow: auto;
}

#confirmModal {
    display: none;
}